*
{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: monospace;
	overflow-x:hidden
}
#videoContainer {
    max-width:640px;
	width:100%;
	position:relative;
    /*background-image: url(load1.gif);*/
    text-align: left;
    border:480px;
    margin:0 auto;
	position: relative;
}
#webcam{
	max-width:640px;
	width:100%;
	/* width : 	; */
	/* height: 20px; */

}
.joystick{
	text-align:center;
	display:inline-block;
}

#commandContainer{
	width:100%;
	text-align:center;
}

#JoystickContainer{
	width:100%;
	text-align:center;
}
#JoystickContainer .left{float:left;}
#JoystickContainer .right{float:right;}
#JoystickContainer .center{margin:0 auto;}


a.button{
display:inline-block;
height:30px;
width:100px;
text-align:center;
line-height:30px;
background: #818181;
background: -moz-linear-gradient(top, #818181 0%, #818181 49%, #3C3C3C 100%);
background: -webkit-linear-gradient(top, #818181 0%, #818181 49%, #3C3C3C 100%);
background: linear-gradient(to bottom, #818181 0%, #818181 49%, #3C3C3C 100%);
}
a.button.disabled{
opacity:0.5;

}
a:not(.disabled):hover{
cursor:pointer;
color:black;
}
a:not(.disabled):active,a.active{
color:grey;
background: #3C3C3C;
}


#face_overlay{
	position:absolute;
	top:0;
	left:0;
}


.knob_title{
	display:inline-block;
	width:100%;
	text-align:center;
	font-size:15pt;
}

.knobs_container{
	margin-top:10px;margin-bottom:10px;text-align:center
}
.knob_container{
	display:inline-block;
	text-align:center;
}

/* .table_container table, */
#table_container th,
#table_container td {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  display:inline-block;
  width : 45px;
  overflow-x:hidden;
  font-size:10px;
  text-align:center;
}
.blackcolor{
	color:#484848;
}
