<!DOCTYPE HTML>
<!--
 The MIT License (MIT)

-->
<html>
	<head>
	      <title>Robot</title>
	      <meta charset="utf-8">
	      <meta name="description" content="Freenove robot doc interface by Alexandre Ambourg">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	      <meta name="author" content="Alexandre Ambourg">
		  <meta name="mobile-web-app-capable" content="yes">
	      <link rel="stylesheet" href="main.css">
	</head>
	<body style="background-color:#484848;color:#FFFFFF">
	<div id="navbar" style="height:10px"></div>
	
	<div class="center-content page-container">
		<h1 style="text-align:center">
		<img src='/icon.png' style="height:50px"></img> Raspberry Pi robot dog Freenove
		</h1>
		<!-- <center><img src="stream.mjpg" width="640" height="480"></center> -->
		<div id="videoContainer">
		<!-- <video id="webcam" width="640" height="480" autoplay style="display:none" ></video>     -->
		<!-- <img class="motionDetection" id="webcam" crossorigin width="640" height="480" src="stream.mjpg" ></img> -->
		<img class="motionDetection" id="webcam" crossorigin  src="stream.mjpg" ></img>
		<!-- <img class="motionDetection" id="webcam" crossorigin width="100" height="50" src="fly.jpg" ></img> -->
		<!--<img id="webcam" crossorigin width="640" height="480" src="face.jpg" ></img>-->
		<!-- <img id="webcam" crossorigin width="640" height="480" src="https://i.imgur.com/PBfpKi5.jpeg" ></img> -->
		<canvas id="face_overlay" width="640" height="480"  ></canvas>
		<canvas id="motion_draw" width="640" height="480" style="display:none"></canvas>
		<canvas id="motion_overlay" width="640" height="480" style="position:absolute;left:0;top:0"></canvas>
		<!--<canvas id="motion_frame1" width="640" height="480" ></canvas>-->
		
		</div>
		<div id="commandContainer">
			<a class="button cmd" data-cmd="CMD_MOVE_FORWARD#8">MOVE FORWARD</a>
			<a class="button cmd" data-cmd="CMD_MOVE_LEFT#8">TEST error</a>
			<a id="face_detection_button" class="button">Face</a>
			<a id="motion_detection_button" class="button">Motion</a>
			<a id="face_detection_button" class="button">Follow</a>
		</div>
		
		
			<div id="JoystickContainer" style="clear:both;">
				<div class="joystick left">
					<h2>MOVEMENT</h2>
					<div id="joyMove" style="width:120px;height:120px"></div>
				</div>
				<div class="joystick center">
					<h2>ATTITUDE</h2>
					<div id="joyAttitude" style="width:120px;height:120px"></div>
				</div>
				<div class="joystick right">
					<h2>HEAD</h2>
					<div id="joyHead" style="width:120px;height:120px"></div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="joy.min.js"></script>
	<script src="face-api.js"></script>
	<script src="motion.js"></script>
	<script src="face.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.8.2/dist/tf.min.js"></script>-->
	<!--<script src="a2c.js"></script>-->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
	<script src="main.js"></script>	
 
</html>
