<!DOCTYPE HTML>
<!--
 The MIT License (MIT)

-->
<html>
	<head>
	      <title>Robot</title>
	      <meta charset="utf-8">
	      <meta name="description" content="Freenove robot doc interface">
	      <meta name="author" content="Alexandre Ambourg">
	      <link rel="stylesheet" href="main.css">
	</head>
	<body style="background-color:#484848;color:#FFFFFF">
	<div id="navbar" style="height:10px"></div>
	
	<div class="center-content page-container">
		<h1 style="text-align:center">
		<img src='/icon.png' style="height:50px"></img> Raspberry Pi robot dog Freenove
		</h1>
		<!-- <center><img src="stream.mjpg" width="640" height="480"></center> -->
		<div id="videoContainer">
		<!-- <video id="webcam" width="640" height="480" autoplay style="display:none" ></video>     -->
		<img class="motionDetection" id="webcam" crossorigin width="640" height="480" src="stream.mjpg" ></img>
		<!-- <img class="motionDetection" id="webcam" crossorigin width="100" height="50" src="fly.jpg" ></img> -->
		<!--<img id="webcam" crossorigin width="640" height="480" src="face.jpg" ></img>-->
		<!-- <img id="webcam" crossorigin width="640" height="480" src="https://i.imgur.com/PBfpKi5.jpeg" ></img> -->
		<canvas id="face_overlay" width="640" height="480"  ></canvas>
		<canvas id="motion_draw" width="640" height="480" style="display:none"></canvas>
		<canvas id="motion_overlay" width="640" height="480" style="position:absolute;left:0;top:0"></canvas>
		<!--<canvas id="motion_frame1" width="640" height="480" ></canvas>-->
		
		</div>
		<canvas id="rgb_canvas" width="2" height="2">
		  <img id="rgb" style="width:2px;height:2px" src="rgb.png" ></img>
		</canvas>
		<a class="button cmd" data-cmd="CMD_MOVE_FORWARD#8">MOVE FORWARD</a>
		<a class="button cmd" data-cmd="CMD_MOVE_LEFT#8">TEST error</a>
		<a id="face_detection_button" class="button disabled">Face</a>
		
			<!-- Example of FIXED or ABSOLUTE position -->
			<!-- <div id="joy3Div" style="width:200px;height:200px;margin:50px;position:fixed;bottom:30px;left:50px;"></div> -->
			<!-- <div style="position:fixed;bottom:125px;left:750px;"> -->
				<!-- Posizione X:<input id="joy3PosizioneX" type="text" /><br /> -->
				<!-- Posizione Y:<input id="joy3PosizioneY" type="text" /><br /> -->
				<!-- Direzione:<input id="joy3Direzione" type="text" /><br /> -->
				<!-- X :<input id="joy3X" type="text" /></br> -->
				<!-- Y :<input id="joy3Y" type="text" /> -->
			<!-- </div> -->
			<!-- Example of two JoyStick integrated in the page structure -->
			<div class="row">
				<div class="columnLateral">
					<h2>MOVEMENT</h2>
					<div id="joy1Div" style="width:120px;height:120px;margin:50px"></div>
					Posizione X:<input id="joy1PosizioneX" type="text" /><br />
					Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
					Direzione:<input id="joy1Direzione" type="text" /><br />
					X :<input id="joy1X" type="text" /></br>
					Y :<input id="joy1Y" type="text" />
				</div>
				<div class="columnCetral">
					<h2>HEAD</h2>
					<div id="joyDivHead"></div>
					will move head and Pitch?
				</div>
				<div class="columnLateral">
					<div id="joy2Div"></div>
					Posizione X:<input id="joy2PosizioneX" type="text" /></br>
					Posizione Y:<input id="joy2PosizioneY" type="text" /></br>
					Direzione:<input id="joy2Direzione" type="text" /></br>
					X :<input id="joy2X" type="text" /></br>
					Y :<input id="joy2Y" type="text" />
				</div>			
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="joy.min.js"></script>
	<script src="face-api.js"></script>
	<script src="motion.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.8.2/dist/tf.min.js"></script>-->
	<!--<script src="a2c.js"></script>-->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
	<script src="main.js"></script>	
 
</html>
