<!DOCTYPE HTML>
<!--
 The MIT License (MIT)

-->
<html>
	<head>
	      <title>Robot</title>
	      <meta charset="utf-8">
	      <meta name="description" content="Freenove robot doc interface">
	      <meta name="author" content="Alexandre Ambourg">
	      <link rel="stylesheet" href="main.css">
	</head>
	<body style="background-color:#484848;color:#FFFFFF">
	<div id="navbar" style="height:10px"></div>
	
	<div class="center-content page-container">
		<h1 style="text-align:center">
		<img src='/icon.png' style="height:100px"></img> Raspberry Pi robot dog Freenove
		</h1>
		<!-- <center><img src="stream.mjpg" width="640" height="480"></center> -->
		<div id="videoContainer">
		<!-- <video id="webcam" width="640" height="480" autoplay style="display:none" ></video>     -->
		<img class="motionDetection" id="webcam" crossorigin width="640" height="480" src="stream.mjpg" ></img>
		<!--<img id="webcam" crossorigin width="640" height="480" src="face.jpg" ></img>-->
		<!-- <img id="webcam" crossorigin width="640" height="480" src="https://i.imgur.com/PBfpKi5.jpeg" ></img> -->
		<canvas id="face_overlay" width="640" height="480" ></canvas>
		<canvas id="motion_overlay" width="640" height="480" ></canvas>
			
		</div>
		<a class="button cmd" data-v="test" data-cmd="CMD_TEST#45">TEST</a>
		<a class="button cmd" data-v="test" data-cmd="CMD_DUMMY#45">TEST error</a>
		<a id="face_detection_button" class="button disabled">Face</a>
		
			<!-- Example of FIXED or ABSOLUTE position -->
			<!-- <div id="joy3Div" style="width:200px;height:200px;margin:50px;position:fixed;bottom:30px;left:500px;"></div> -->
			<!-- <div style="position:fixed;bottom:125px;left:750px;"> -->
				<!-- Posizione X:<input id="joy3PosizioneX" type="text" /><br /> -->
				<!-- Posizione Y:<input id="joy3PosizioneY" type="text" /><br /> -->
				<!-- Direzione:<input id="joy3Direzione" type="text" /><br /> -->
				<!-- X :<input id="joy3X" type="text" /></br> -->
				<!-- Y :<input id="joy3Y" type="text" /> -->
			<!-- </div> -->
			<!-- Example of two JoyStick integrated in the page structure -->
			<div class="row">
				<div class="columnLateral">
					<div id="joy1Div" style="width:120px;height:120px;margin:50px"></div>
					Posizione X:<input id="joy1PosizioneX" type="text" /><br />
					Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
					Direzione:<input id="joy1Direzione" type="text" /><br />
					X :<input id="joy1X" type="text" /></br>
					Y :<input id="joy1Y" type="text" />
				</div>
				<div class="columnCetral">
					<h2>JoyStick</h2>
					<p>
	A simple JoyStick that use HTML5, Canvas and JavaScript, for touch and mouse interfaces (no JQuery required).<br /><br />
	The project is available at <a href="https://github.com/bobboteck/JoyStick">https://github.com/bobboteck/JoyStick</a>.<br /><br />
	The left JoyStick (in red square) is an example that use default parametrs, the right JoyStick (in blue square) instead use same custom parameters, specifically the title and the autoReturnToCenter disabled, this also uses CSS class instead inline style.<br /><br />
	<b>NOTE:</b> currently the JoyStick does not work correctly if inserted in a Table tag, to put more than one JoyStick on a single line it is recommended to create a structure with the Div, as in this example page.
					</p>
				</div>
				<div class="columnLateral">
					<div id="joy2Div"></div>
					Posizione X:<input id="joy2PosizioneX" type="text" /></br>
					Posizione Y:<input id="joy2PosizioneY" type="text" /></br>
					Direzione:<input id="joy2Direzione" type="text" /></br>
					X :<input id="joy2X" type="text" /></br>
					Y :<input id="joy2Y" type="text" />
				</div>			
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="joy.min.js"></script>
	<script src="face-api.js"></script>
	<script src="motion.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
	<script src="main.js"></script>	
 
</html>
